Package: sed
Priority: important
Section: Utilities
Installed-Size: 180
Maintainer: Alexander (AAlx) <aalx2176@gmail.com>
Architecture: iphoneos-arm
Version: 4.8-1
Pre-Depends: dpkg (>= 1.14.25-8)
Description: edits streams of text using patterns
Homepage: http://www.gnu.org/software/sed/
